{
  "presets": [
    "@babel/preset-env",
    "preact"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "react": "preact-compat",
          "react-dom": "preact-compat"
        }
      }
    ]
  ],
  "env": {
    "legacy": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "useBuiltIns": "usage",
            "targets": {
              "browsers": [
                "> 1%",
                "last 2 versions",
                "Firefox ESR",
                "ie 11"
              ],
            },
          }
        ],
      ]
    }
  }
}