<!DOCTYPE html>
<html>

<head>
  <title>MumbleBot</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#002984">

  <link rel="icon" type="image/png" href="/images/icons/icon-512x512.png" />
  
  <script>
    // navigator.serviceWorker.register('worker.js', {
    //   scope: '/'
    // });
  </script> {{{styleTags}}}
</head>

<body>
  <div id='app'>{{{html}}}</div>

  <script>window.__backend_data__ = {{{ storeData }}}</script>

  <script src='/index.js' async></script>
</body>

</html>
